<div *ngIf="bannerURL" style="height: 80vh;z-index: -1;">
  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view jarallax" style="height: 80vh;">
          <img class="jarallax-img"
               [src]="bannerURL" alt="">
          <div class="mask rgba-blue-slight"></div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="view jarallax" style="height: 80vh;">
          <img class="jarallax-img" [src]="bannerURL" alt="">
          <div class="mask rgba-blue-slight"></div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Carousel Wrapper-->
</div>

<div *ngIf="isMovie; else tv">
<h1 *ngIf="bannerURL" class="centered" style="text-align:center;white-space:pre-wrap; z-index: 100">Feature Films </h1>
</div>
<ng-template #tv>
  <h1 *ngIf="bannerURL" class="centered" style="text-align:center;white-space:pre-wrap; z-index: 100">Feature TV Shows </h1>
</ng-template>
