<div *ngIf="isMovie; else tv">
<!-- Main navigation -->

  <!-- Full Page Intro -->
  <div *ngIf="movie" class="view" style="background-repeat: no-repeat; background-size: cover; background-position: center center;"
  [ngStyle]="{ 'background-image': 'url(' + 'http://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'}">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">{{movie.original_title}} </h1>
            <hr class="hr-light">
            <h6 class="mb-4">{{movie.overview}}</h6>
            <a mdbBtn color="white" outline="true" href="{{movie.homepage}}" mdbWavesEffect>Show Website</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="{{'http://image.tmdb.org/t/p/original' + movie.poster_path}}" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->

<!-- Main navigation -->
</div>
<ng-template #tv>
  <!-- Main navigation -->

  <!-- Full Page Intro -->
  <div *ngIf="movie" class="view" style="background-repeat: no-repeat; background-size: cover; background-position: center center;"
       [ngStyle]="{ 'background-image': 'url(' + 'http://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'}">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">{{movie.name}} </h1>
            <hr class="hr-light">
            <h6 class="mb-4">{{movie.overview}}</h6>
            <a mdbBtn color="white" outline="true" href="{{movie.homepage}}" mdbWavesEffect>Show Website</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="{{'http://image.tmdb.org/t/p/original' + movie.poster_path}}" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->

  <!-- Main navigation -->
</ng-template>




  <app-trailer></app-trailer>
  <app-cast></app-cast>
  <app-similar></app-similar>


