<div style="height:1000px;background-color:#fff;font-size:36px; margin-top: 5%; margin-left: 5vh; margin-right: 5vh">
  <div class="row">

    <div *ngFor="let movie of moviesList" class="col-md-3" style="padding-bottom: 5vh;">
      <!--Card-->
      <mdb-card cascade="true" wider="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{'http://image.tmdb.org/t/p/original' + movie.poster_path}}"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

      </mdb-card>
      <!--/.Card-->
    </div>

  </div>

  <button (click)="printMovies()"></button>

</div>
