<!-- //////////////////////////// -->
<!-- ////////////   BEGIN NAVBAR   //////////////// -->
<!-- //////////////////////////// -->

<app-navigation></app-navigation>


<!-- ///////////////////////////////////////// -->
<!-- //////////////  BEGIN StyleS ///////////// -->
<!-- /////////////////////////////////////////-->
<!-- ///////////////////////////////////////// -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<router-outlet></router-outlet>

<!-- ///////////////////////////////////////// -->
<!-- //////////////  END STYLES  ///////////// -->
<!-- ////////////////  BEGIN PARALAX HEADER  //////////////-->
<!-- ///////////////////////////////////////// -->
<!--Carousel Wrapper-->
<!--Carousel Wrapper-->

<!-- ///////////////////////////////////////// -->
<!-- //////////////  END PARALAX HEADER///////////// -->
<!-- /////////////// BEGIN CARDS /////////-->
<!-- ///////////////////////////////////////// -->


</body>
