<!--Navbar-->
<mdb-navbar class="Header-nav-pixar" SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">

  <div *ngIf="url.match('/network/') || url.match('/tv/'); then vsTV else vsMovie"></div>
  <!-- Navbar brand -->
  <ng-template #vsMovie>
  <mdb-navbar-brand><a class="navbar-brand" href="#">PIXAR vs. DREAMWORKS</a></mdb-navbar-brand>
  </ng-template>
  <ng-template #vsTV>
    <mdb-navbar-brand><a class="navbar-brand" href="#">FOX vs. CBS</a></mdb-navbar-brand>
  </ng-template>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li [class.active]="url == '' || url == '/home'" class="nav-item">
        <a  class="nav-link waves-light" href="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>

      <div *ngIf="url.match('/network/') || url.match('/tv/'); then useTV else useMovie"></div>
      <ng-template #useMovie>
      <li  class="nav-item" [class.active]="url == '/studio/3'">
        <a  class="nav-link waves-light" href="/studio/3" mdbWavesEffect>Pixar</a>
      </li>
      <li [class.active]="url == '/studio/521'" class="nav-item" >
        <a  class="nav-link waves-light"  href="/studio/521" mdbWavesEffect>Dreamworks</a>
      </li>
      </ng-template>
      <ng-template #useTV>
        <li  class="nav-item" [class.active]="url == '/network/19'">
          <a  class="nav-link waves-light" href="/network/19" mdbWavesEffect>FOX</a>
        </li>
        <li [class.active]="url == '/network/16'" class="nav-item" >
          <a  class="nav-link waves-light"  href="/network/16" mdbWavesEffect>CBS</a>
        </li>
      </ng-template>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          More<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <div *ngIf="url.match('/network/') || url.match('/tv/'); then switchTV else switchMovie"></div>
      <ng-template #switchMovie>
      <li class="nav-item">
        <a class="nav-link waves-light"  href="/network/19" mdbWavesEffect>TV</a>
      </li>
      </ng-template>
      <ng-template #switchTV>
        <li class="nav-item">
          <a class="nav-link waves-light"  href="/studio/3" mdbWavesEffect>Movie</a>
        </li>
      </ng-template>

    </ul>

  <app-search></app-search>

</links>

</mdb-navbar>
<!--/.Navbar-->
