//.container {
//  height: 100%;
//  width: 100%;
//  background-image: url("../../assets/moviehomepage2.gif");
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: cover ;
//}

.our-slides {
  height: 79.7vh;

}

.pixar {
  padding-top: 3vh;
  height: 10vh;
  float: left;
  padding-left: 10vh ;
}

.dreamworks {
  height: 15vh;
  float: right;
  padding-top: 3vh;
  padding-right: 10vh;
}
h1{
  text-align: center;
  padding-top: 5vh;
  font-family: 'Righteous', cursive;

}

