<style>
  @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bowlby+One+SC|Oswald|Righteous&display=swap');
</style>
<!--</div>-->
<img class="pixar" src="../../assets/pixar_logo.png">

<img class="dreamworks" src="../../assets/dreamworks-logo.png">
<h1>VS.</h1>

<mdb-carousel class="carousel slide carousel-fade " [animation]="'fade'" [interval]="1500" >
<!--  <mdb-carousel-item>-->
<!--    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/moviehomepage2.gif" alt="First slide">-->
<!--    <div class="carousel-caption">-->
<!--      <h3 class="h3-responsive">PIXAR vs. DREAMWORKS</h3>-->
<!--    </div>-->
<!--  </mdb-carousel-item>-->

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/shrek_vs_monster.gif" alt="Second slide">


  </mdb-carousel-item>

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/rat_vs_squrrel.gif" alt="Third slide">

  </mdb-carousel-item>

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/princess_vs_dragon.gif" alt="Forth slide">

  </mdb-carousel-item>

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/mike_vs_abom.gif" alt="Fifth slide">

  </mdb-carousel-item>

<!--  <mdb-carousel-item>-->
<!--    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/evil_vs_good.gif" alt="Fifth slide">-->

<!--  </mdb-carousel-item>-->

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/blue_vs_purple.gif" alt="Fifth slide">

  </mdb-carousel-item>

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/bee_vs_hair.gif" alt="Fifth slide">

  </mdb-carousel-item>

  <mdb-carousel-item>
    <img class="d-block w-100 our-slides" src="../../assets/carousel_images/baby_vs_woody.gif" alt="Fifth slide">

  </mdb-carousel-item>
</mdb-carousel>
<!--<img class="pixar" src="../../assets/pixar_logo.png">-->

<!--<img class="dreamworks" src="../../assets/dreamworks-logo.png">-->
<!--<h1>VS.</h1>-->

